<html>
<head>
    <Title>Happiness</Title>
    <link rel="shortcut icon" href = "https://static.vecteezy.com/system/resources/previews/000/553/995/large_2x/cartoon-hand-making-positive-thumbs-up-gesture-vector.jpg">
</head>
<h1>
    <!-- <img id="Happy-logo" src="" width="100"> -->
    World Happiness Data!
<h1>
<body>
    <div class="row">
        <form>
            <div class="column"> 
                <label for="yearCheck">  
                    <span> Year: </span>
                    <input type="checkbox" id="yearCheck" name="year" value="{{params['year_bool']}}">
                </label><br>
                <label for="rankCheck">  
                    <span> Rank: </span>
                    <input type="checkbox" id="rankCheck" name="rank" value="{{params['rank_bool']}}">
                </label><br>
                <label for="countryCheck">  
                    <span> Country: </span>
                    <input type="checkbox" id="countryCheck" name="country" value="{{params['country_bool']}}">
                </label><br>
                <label for="scoreCheck">  
                    <span> Score: </span>
                    <input type="checkbox" id="scoreCheck" name="score" value="{{params['score_bool']}}">
                </label><br>
                <label for="gdpCheck">  
                    <span> GDP: </span>
                    <input type="checkbox" id="gdpCheck" name="gdp" value="{{params['gdp_bool']}}">
                </label>
            </div>
            <div class="column">
                <label for="lifeExpectancyCheck">  
                    <span> Life Expectancy: </span>
                    <input type="checkbox" id="lifeExpectancyCheck" name="lifeExpectancy" value="{{params['life_expectancy_bool']}}">
                </label><br>
                <label for="freedomCheck">  
                    <span> Freedom: </span>
                    <input type="checkbox" id="freedomCheck" name="freedom" value="{{params['freedom_bool']}}">
                </label><br>
                <label for="generosityCheck">  
                    <span> Generosity: </span>
                    <input type="checkbox" id="generosityCheck" name="generosity" value="{{params['generosity_bool']}}">
                </label><br>
                <label for="corruptionCheck">  
                    <span> Corruption: </span>
                    <input type="checkbox" id="corruptionCheck" name="corruption" value="{{params['corruption_bool']}}">
                </label><br>
                <label for="SocialSupportCheck">  
                    <span> Social Support: </span>
                    <input type="checkbox" id="SocialSupportCheck" name="SocialSupport" value="{{params['social_support_bool']}}">
                </label>
            </div>
        </form>
    </div>
</body>
<style>
    span{
        font-size: medium;
    }
    .column {
    float: left;
    width: 12%;
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
</style>