<html>
<head>
    <Title>Happiness</Title>
    <link rel="shortcut icon" href = "https://static.vecteezy.com/system/resources/previews/000/553/995/large_2x/cartoon-hand-making-positive-thumbs-up-gesture-vector.jpg">
</head>
<h1>
    <!-- <img id="Happy-logo" src="" width="100"> -->
    World Happiness Data!
<h1>
<body>
    <form>
        <label for="rankCheck">  
            <span> Rank Check: </span>
            <input type="checkbox" id="rankCheck" name="rank" value="{{params['rank']}}">
        </label>

    </form>
</body>